.footer-container {
  width: 100%;
  height: auto;
  padding: 60px 20px 30px;
  display: flex;
  justify-content: center;
  background-color: var(--black-color);
}

.footer-container .footer-content {
  width: 100%;
  height: auto;
}

.footer-container .footer-content .footer-content-top {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-container .footer-content .footer-content-top .footer-content-top-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-container .footer-content .footer-content-top .footer-content-top-left p {
  font-size: var(--font-size-lg);
  font-weight: 500;
}

.footer-container .footer-content .footer-content-top .footer-content-top-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-container .footer-content .footer-content-top .footer-content-top-right .footer-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-container .footer-content .footer-content-top .footer-content-top-right .footer-nav h3 {
  font-size: var(--font-size-h3);
  font-weight: bold;
}

.footer-container .footer-content .footer-content-top .footer-content-top-right .footer-nav .footer-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-container .footer-content .footer-content-top .footer-content-top-right .footer-nav .footer-nav-list li {
  font-size: var(--font-size-md);
  font-weight: 400;
}

.footer-container .footer-content .footer-content-bottom {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 2px solid var(--white-color);
}

.footer-container .footer-content .footer-content-bottom p {
  font-size: var(--font-size-md);
  font-weight: 500;
}

.footer-container .footer-content .footer-content-bottom p:first-child {
  color: var(--gray-low-color);
}

.footer-container .footer-content .footer-content-bottom p a {
  color: var(--blue-primary-color);
}

@media (min-width: 768px) {
  .footer-container .footer-content {
    width: calc(100% - 100px);
  }

  .footer-container .footer-content .footer-content-top {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-container .footer-content .footer-content-top .footer-content-top-right {
    flex-direction: row;
    gap: 60px;
  }

  .footer-container .footer-content .footer-content-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .footer-container .footer-content {
    width: 900px;
  }
}
