<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-content-top">
      <div class="footer-content-top-left">
        <a routerLink="/" style="width: 100px;height: 100px;">
          <img src="./../../../assets/images/logo-u-power-white.png" alt="Logo U Power" width="100px" height="100px">
        </a>
        <p>¡Descubre tu potencial con nosotros!</p>
      </div>
      <div class="footer-content-top-right">
        <div class="footer-nav">
          <h3>Empezar</h3>
          <ul class="footer-nav-list">
            <li>Sobre nosotros</li>
            <li>Servicios</li>
            <li>Aplicación móvil</li>
          </ul>
        </div>
        <div class="footer-nav">
          <h3>Comunidad</h3>
          <ul class="footer-nav-list">
            <li>Facebook</li>
            <li>Instagram</li>
            <li>X</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-content-bottom">
      <p>{{ year }} U Power</p>
      <p>Hecho por <a href="https://neidersilva.vercel.app" target="_blank">Neider Silva</a></p>
    </div>
  </div>
</footer>
