<div class="profile-container">
  <p-toast />
  <div class="profile-content">
    <img class="profile-image" [src]="googleUser.picture" [alt]="googleUser.name" width="120px" height="120px">
    <h3>{{ googleUser.name }}</h3>
    <span>{{ googleUser.email }}</span>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="profile-form">
      <input
        type="text"
        formControlName="id"
        name="id"
        id="id"
        autocomplete="off"
        pInputText
        placeholder="ID o Número de documento de identidad"
      />
      <div class="profile-form-submit">
        <app-button
          type="submit"
          label="Guardar"
          icon="pi pi-save"
          [disabled]="!profileForm.valid"
          [loading]="loading"
        />
      </div>
    </form>
  </div>
</div>
